a2wsgi==1.10.10
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-jinja2==1.6
aiosignal==1.4.0
anyio==4.12.1
asgiref==3.11.0
attrs==25.4.0
audioop-lts==0.2.2
blinker==1.9.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
clickclick==20.10.2
connexion==2.14.2
Flask==2.2.5
frozenlist==1.8.0
gTTS==2.5.4
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
inflection==0.5.1
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
multidict==6.7.0
numpy==2.4.0
-e git+ssh://git@github.com/samuelbarrett/backchannel-toolkit.git@b90dc8cbaf9ffef4755e3b1e50b50c72eacb7b17#egg=openapi_server&subdirectory=server/generated
packaging==25.0
pluggy==1.6.0
propcache==0.4.1
pycparser==2.23
pydub==0.25.1
Pygments==2.19.2
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.21
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
setuptools==80.9.0
simpleaudio==1.0.4
six==1.17.0
sounddevice==0.5.3
srt==3.5.3
starlette==0.50.0
swagger-ui-bundle==0.0.9
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.6.2
uvicorn==0.40.0
uvloop==0.22.1
vosk==0.3.44
watchfiles==1.1.1
webrtcvad-wheels==2.0.14
websockets==15.0.1
Werkzeug==2.2.3
yarl==1.22.0
