body {
  margin: 0;
  max-width: 100vw;
}

pre,
code {
  overflow: auto;
}

#pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

#pageTitle {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

#blocklyDiv {
  flex-basis: 100%;
  height: 100%;
  min-width: 600px;
}

.roboto-google-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#playButton {
  float: right;
  margin-top: 8px;
  font-size: 1rem;
  padding: 6px 16px;
}